input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px soid rgb(28, 26, 26);
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(209, 204, 196);
}
input[type="submit"]
{
    width: 100%;
    background-color: rgb(71, 57, 220);
    color: white;
    padding: 14px 20px;
    margin:  8px 0;
    border: 1px soid rgb(28, 26, 26);
    border-radius: 4px;
}
input[type="submit"]:hover{
    background-color: rgb(14, 75, 75);
}



